<header>
   ajax-view
</header>

<p>
   Any element this behavior will immediately ajax-load the content specified by the <em>href</em> or <em>data-href</em> attribute
   and replace the inner content of the element with the response.
</p>

<p>
   This is useful when you want to break your pages into smaller, more managable parts. You can layout the structure of your
   page and ajax in the content from external resources.
</p>

<header>Example:</header>
<code>
   <header>HTML</header>
   <pre>
&lt;div data-behavior="ajax-view"&gt; Loading... &lt;/div&gt;
   </pre>
</code>
