<header>Attributes</header>
<dl>
   <dt>href</dt>              <dd>&nbsp;</dd>
   <dt>data-href</dt>         <dd>The uri that will be loaded</dd>
   <dt>target</dt>            <dd>&nbsp;</dd>
   <dt>data-nav-target</dt>   <dd>A <em>Context Selector</em> refering to the element(s) that will receive the ajax-success event</dd>
   <dt>data-nav-event</dt>    <dd>Specifies the event that will trigger the navigation</dd>
   <dt>data-nav-route</dt>    <dd>Triggers this navigation based on a hash route</dd>
</dl>

<header>Events</header>
<dl>
   <dt>ajax-success</dt>      <dd>If the content is successfully loaded this event will be fired on the specified target element(s)</dd>
</dl>

<header>Description</header>

<p>
   Responds to <em>click</em> or other specified event to trigger an ajax load of content specified by an <em>href</em>
   or <em>data-href</em> attribute. The loaded content will trigger an <em>ajax-success</em> event that can be directed
   to an <em>ajax-frame</em> using a <em>target</em> or <em>data-nav-target</em> attribute.
</p>

<code>
   <header>HTML</header>
   <pre>
&lt;nav&gt;
   &lt;a data-behavior="ajax-nav"
         target="#view"
         href="views/my-view.html"&gt;
      My View
   &lt;/a&gt;
   &lt;a data-behavior="ajax-nav"
         target="#view"
         href="views/my-other-view.html"&gt;
      My Other View
   &lt;/a&gt;
&lt;/nav&gt;

&lt;div id="view" data-behavior="ajax-frame"&gt;&lt;/div&gt;
   </pre>
</code>

<p>
   You can also add the ajax-nav behavior to an element that contains multiple href/data-href elements.
</p>

<code>
   <header>HTML</header>
   <pre>
&lt;nav data-behavior="ajax-nav" data-nav-target="#view"&gt;
   &lt;a href="views/my-view.html"&gt;My View&lt;/a&gt;
   &lt;a href="views/my-other-view.html"&gt;My Other View&lt;/a&gt;
&lt;/nav&gt;

&lt;div id="view" data-behavior="ajax-frame"&gt;&lt;/div&gt;
   </pre>
</code>

<p>
   The <em>data-nav-route</em> attribute will cause a specific navigation item to trigger when there is a matching
   hash path.
</p>

<code>
   <header>HTML</header>
   <pre>
&lt;a href="views/my-view.html"
      data-behavior="ajax-nav"
      data-nav-target="#view"
      data-nav-route="/my-view"
   My view
&lt;/a&gt;
   </pre>
</code>

<code>
   <header>HTML</header>
   <pre>
&lt;nav data-behavior="ajax-nav" data-nav-target="#view"&gt;
   &lt;a href="views/my-view.html" data-nav-route="/my-view"&gt;My View&lt;/a&gt;
&lt;nav&gt;
   </pre>
</code>
