<header>data-behavior attribute</header>

<dl>
   <dt>What it does</dt>      <dd>Invokes/Configures one or more behaviors on the element.</dd>
   <dt>Works on</dt>          <dd>Any element within the document. This will function on the body and any of its contents.</dd>
   <dt>Accepted Values</dt>   <dd>One or more behavior or jQuery plugin name(s) (case sensitive). All behaviors should be space delimited. (Behaviors with spaces in their names won't be found)</dd>
</dl>

<header>Wiring up a date-picker plugin</header>
<code>
   <header>HTML</header>
   <pre>
&lt;input type="text" data-behavior="date-picker" /&gt;
   </pre>
</code>

<p>
   If you already have a jquery plugin named "date-picker" then that would be all you need to do. However, if the plugin you need
   to wire up doesn't exist then you would add it as a behavior like so:
</p>

<code>
   <header>javascript</header>
   <pre>
behaviors.add('date-picker', function() {
   this.addEventListener('click', showDatePicker);

   function showDatePicker(e) { ... }
});
   </pre>
</code>

<p>
   When using InteractionLib the data-behavior attribute is the primary method for configuring elements in the
   DOM with behavior functionality. A behavior is a chunk of javascript functionality that, when applied to an
   element or group of elements, will configure it to behave in a certain manner.
</p>

<p>
   In the above sample usage a text input will have a behavior called 'date-picker' applied to it.
</p>

<p>
   This is the core functionality and purpose of InteractionLib. The data-behavior attribute is the bridge between your
   document and its functionality. It allows you to assign functionality to your document directly from your markup and
   replaces the need to put a block of script somewhere that searches for your content in order to apply your
   functionality to it.
</p>

<p>
   InteractionLib also monitors the document for changes. This means that even if you ajax-in some content to your page
   as you would in a SPA you don't need to worry about getting the new content wired up.
</p>
