<header>method / data-method</header>
<p>
   The <em>method</em> and <em>data-method</em> attributes typically specify the verb to be used for an ajax
   request. (e.g. get, post, put, delete, etc)
</p>

<p>
   When used in conjuction with an <em>ajax-form</em> behavior the method will determine how the serialized
   form values will be handled. For example a GET verb will cause parameters to be appended to the action uri
   and a POST verb will cause the parameters to be sent in the request body.
</p>
