<header>data-behavior attribute</header>

<dl>
   <dt>What it does</dt>      <dd>Invokes one or more behaviors on the element. (Configures an element with one or more behaviors)</dd>
   <dt>Works on</dt>          <dd>Any element within the document. This will function on the body and any of its contents.</dd>
   <dt>Accepted Values</dt>   <dd>One or more behavior or jQuery plugin name(s) (case sensitive). All behaviors should be space delimited. (Behaviors with spaces in their names won't be found)</dd>

Sample usage:
<input type="text" data-behavior="date-picker" />

When using InteractionLib the data-behavior attribute is the primary method for configuring elements in the DOM with behavior functionality. A behavior is a chunk of javascript functionality that, when applied to an element or group of elements, will configure it to behave in a certain manner.

In the above sample usage a text input will have a behavior called 'date-picker' applied to it. The demonstration below has been given this same attribute. When clicked, it will show a calendar and set the value of the input when a date is selected.
Click to set a date:

This is the core functionality and purpose of InteractionLib. The data-behavior attribute is the bridge between your document and its functionality. It allows you to assign functionality to your document directly from your markup and replaces the need to put a block of script somewhere that searches for your content in order to apply your functionality to it.

InteractionLib also monitors the document for changes. This means that even if you ajax-in some content to your page as you would in a SPA you don't need to worry about getting the new content wired up.
What are behaviors?

Any kind of interaction that can be observed on a web page can be given a behavior that defines how the page and its elements react. For instance: if you have a multi-element structure on a page such as an accordion you know that when the title of one of the accordion sections is clicked it should either show or hide the corresponding section's content. The behavior here would most likely be called something like "accordion". This behavior would most likely expect a certain structure to exist, listen for click events on the titles of each section, and then update the classes on the corresponding section content in order to show and hide it.

If you have developed in javascript for any amount of time then you are already accustomed to the idea of listening to events and responding to them with handlers. Behaviors are the orchestration of any number of events and handlers that correspond to a given structure in the markup to produce an interaction for the user.

Please see behaviors.add for more information on how to add and create new behaviors.
Behaviors and jQuery

jQuery is a commonly used plugin library that extends the core javascript library available to the developer for creating functionality on a page. Like behaviors, plugins will often take a structure on the page and apply handlers to create a user interaction. What jQuery is missing is a clean method for pairing content with its functionality.

InteractionLib fills this gap by integrating itself with jQuery's plugin library. If jQuery is loaded prior to InteractionLib then all behaviors will be added to and read from jQuery's library of plugins. For example: if you have a jQuery plugin named "doSomething" and in your markup you place a 'data-behavior="doSomething"' on an element, the jQuery plugin "doSomething" will be invoked on that element when the page loads. This would be like executing $(element).doSomething() in javascript where "element" is the element on the page that is being configured.

Please see data-{behavior}-config for more information on how to configure jQuery plugins with behaviors.
