<section>
   <header><img src="images/title.png" /></header>
   <aside data-behavior="ajax-nav" data-nav-target="#article">
      <header>Framework</header>
      <nav>
         <a href="views/behaviors.html">Behaviors</a>
      </nav>
      <header>Behaviors</header>
      <nav>
         <a href="views/ajax-form.html">ajax-form</a>
         <a href="views/ajax-frame.html">ajax-frame</a>
         <a href="views/ajax-nav.html">ajax-nav</a>
         <a href="views/ajax-submit.html">ajax-submit</a>
         <a href="views/ajax-view.html">ajax-view</a>
      </nav>
      <header>Common Attributes</header>
      <nav>
         <a href="views/data-action.html">action / data-action</a>
         <a href="views/data-ajax-events.html">data-ajax-events</a>
         <a href="views/data-ajax-listen.html">data-ajax-listen</a>
         <a href="views/data-ajax-mode.html">data-ajax-mode</a>
         <a href="views/data-ajax-target.html">data-ajax-target</a>
         <a href="views/data-behavior.html">data-behavior</a>
         <a href="views/data-method.html">method / data-method</a>
      </nav>
      <header>Common Events</header>
      <nav>
         <a href="views/ajax-after.html">ajax-after</a>
         <a href="views/ajax-before.html">ajax-before</a>
         <a href="views/ajax-failure.html">ajax-failure</a>
         <a href="views/ajax-success.html">ajax-success</a>
      </nav>
   </aside>
   <article id="article" data-behavior="ajax-frame ajax-view" data-href="views/info.html"></article>
</section>
