<section>
   <header><img src="images/title.png" /></header>
   <aside data-behavior="ajax-nav" data-nav-target="#article">
      <header>Framework</header>
      <nav>
         <a href="views/behaviors.html">Behaviors</a>
      </nav>
      <header>Behaviors</header>
      <nav>
         <a href="views/ajax-form.html">ajax-form</a>
         <a href="views/ajax-frame.html">ajax-frame</a>
         <a href="views/ajax-nav.html">ajax-nav</a>
         <a href="views/ajax-submit.html">ajax-submit</a>
         <a href="views/ajax-view.html">ajax-view</a>
      </nav>
   </aside>
   <article id="article" data-behavior="ajax-frame ajax-view" data-href="views/info.html"></article>
</section>
