<section>
   <header><img src="images/title.png" /></header>
   <aside>
      <header>Attributes</header>
      <nav>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
      </nav>
      <header>Events</header>
      <nav>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
         <a data-behavior="ajax-nav" data-nav-target="#article" href="views/data-behavior.html">data-behavior</a>
      </nav>
   </aside>
   <article id="article" data-behavior="ajax-frame ajax-view" data-href="views/info.html"></article>
</section>
