<section>
   <header><img src="images/title.png" /></header>
   <article>
      <header>Behaviors <small>(framework only)</small></header>
      <ul>
         <li><a href="https://github.com/DataDink/InteractionLib/raw/master/Builds/2.1.1/behaviors.zip">2.1.1</a></li>
         <li><a href="https://github.com/DataDink/InteractionLib/raw/master/Builds/2.1.0/behaviors.zip">2.1.0</a></li>
         <li><a href="https://github.com/DataDink/InteractionLib/raw/master/Builds/2.0.1/behaviors.zip">2.0.1</a></li>
         <li><a href="https://raw.githubusercontent.com/DataDink/InteractionLib/master/Builds/behaviors.js">development</a></li>
      </ul>
   </article>
   <article>
      <header>InteractionLib <small>(extensions &amp; behaviors)</small></header>
      <ul>
         <li><a href="https://github.com/DataDink/InteractionLib/raw/master/Builds/2.1.1/interaction-lib.zip">2.1.1</a></li>
         <li><a href="https://github.com/DataDink/InteractionLib/raw/master/Builds/2.1.0/interaction-lib.zip">2.1.0</a></li>
         <li><a href="https://github.com/DataDink/InteractionLib/raw/master/Builds/2.0.1/interaction-lib.zip">2.0.1</a></li>
         <li><a href="https://raw.githubusercontent.com/DataDink/InteractionLib/master/Builds/interaction-lib.js">development</a></li>
      </ul>
   </article>
</section>
