<section>
   <header><img src="images/title.png" /></header>
   <article>
      <header>Behaviors <small>(framework only)</small></header>
      <ul>
         <li><a href="">2.1.1</a></li>
         <li><a href="">2.1.0</a></li>
         <li><a href="">2.0.1</a></li>
         <li><a href="">development</a></li>
      </ul>
   </article>
   <article>
      <header>InteractionLib <small>(extensions &amp; behaviors)</small></header>
      <ul>
         <li><a href="">2.1.1</a></li>
         <li><a href="">2.1.0</a></li>
         <li><a href="">2.0.1</a></li>
         <li><a href="">development</a></li>
      </ul>
   </article>
</section>
