<header>Interaction Lib</header>
<dl>
   <dt>Created By</dt>           <dd>Mark Greenwald, Dave Reed, Mike Stum</dd>
   <dt>Current Version</dt>      <dd>2.1.1</dd>
   <dt>Browser Compat</dt>       <dd>
                                    <table>
                                       <thead>
                                          <tr>
                                             <th>IE</th> <th>Chrome</th>   <th>FF</th>    <th>Opera</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr>
                                             <td>8+</td> <td>Yes</td>      <td>Yes</td>   <td>Yes</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </dd>
   <dt>Dependencies</dt>         <dd>N/A</dd>
   <dt>Supports</dt>             <dd>Interaction Lib will integrate with jQuery if loaded after jQuery</dd>
</dl>
